.Modal {
  background-color: rgba($color-gray-1, 0.7);
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  z-index: 1;
}
