// Variables
$font-1: "Nunito", sans-serif;

$color-white-1: #fff5ee;
$color-gray-1: #282c34;
$color-dark-1: #1b1a17;
$color-primary: #413c69;
$color-red: #c0392b;
$color-green: #2ecc71;

$x-large: 3rem;
$large: 2.5rem;
$medium: 2rem;
$small: 1rem;

$max-width: 80rem;
$min-width: 32rem;

$border-radius-1: 0.8rem;
$bg-color-primary: rgba($color-primary, 0.88);
$box-shadow-1: 0px 10px 5px -5px $color-dark-1;
